body {
  background-color: #f4f6f9;
}

.hero-section {
  margin-top: 120px;
}

.detect-box {
  max-width: 500px;
  margin: 100px auto;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.about-section {
  margin-top: 80px;
}
